@use '../../../../core/scss/margin-padding-utils.scss' as mp;

:host {
    height: 100%;
    display: grid;
    gap: mp.power(2);
    grid-template-rows: auto 175px 1fr;

    .device-action-bar {
        padding-bottom: mp.power(1);
    }

    .device-status-container {
        display: grid;
        height: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .device-status-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .device-status-item p {
        display: flex;
        align-items: flex-end;
        gap: mp.power(.5);
    }

    .device-settings-input-container {
        display: grid;
        gap: mp.power(2);
        grid-template-columns: repeat(3, 1fr);
    }

    .device-form-actions-card {
        gap: mp.power(1);
    }
}