<app-dashboard-view-bar>
  <h1 dashboardViewTitle>Dashboard Einstellungen</h1>
</app-dashboard-view-bar>

<mat-accordion multi>
  @for (setting of settings; track setting) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{setting.description}}</mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <ng-template #settingForm [ngComponentOutlet]="getTemplate(setting.type)"></ng-template>
      </ng-template>
    </mat-expansion-panel>
  }
</mat-accordion>
