<mat-card>
  <mat-card-content>
    <div class="chart-container">
      <apx-chart class="apx-chart" [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [xaxis]="chartOptions.xaxis!"
      [stroke]="chartOptions.stroke!"
      [dataLabels]="chartOptions.dataLabels!"
      [legend]="chartOptions.legend!"
      [markers]="chartOptions.markers!"
      [grid]="chartOptions.grid!"
      [yaxis]="chartOptions.yaxis!"
      [title]="chartOptions.title!" #temperatureChart></apx-chart>
    </div>  
  </mat-card-content>
  
  <mat-card-footer>
    <mat-paginator [length]="paginatorSettings.length"
    [pageSize]="paginatorSettings.pageSize"
    [pageSizeOptions]="paginatorSettings.pageSizeOptions"
    (page)="onPage($event)">
  </mat-paginator>
  </mat-card-footer>
</mat-card>


