<app-dashboard-view-bar>
  <h1 dashboardViewTitle>Temperatur Daten</h1>
  <div dashboardViewActions>
    <mat-form-field color="accent" class="form-field">
      <mat-label>Nach Räume Filtern</mat-label>
      <mat-select [(value)]="selectedRoom" (valueChange)="roomChange($event)">
        <mat-option value="all">Alle</mat-option>
        <mat-option *ngFor="let device of rooms" [value]="device.room">{{device.room}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Nach Gerät Filtern</mat-label>
      <mat-select [(value)]="selectedDevice" [disabled]="selectedRoom === 'all'" (valueChange)="deviceChange($event)">
        <mat-option value="all">Alle</mat-option>
        <mat-option *ngFor="let device of devices" [value]="device.name">{{device.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</app-dashboard-view-bar>
<router-outlet></router-outlet>
