<mat-card>
  <mat-card-content>
    <mat-form-field class="form-field">
      <mat-label>Nach Räume Filtern</mat-label>
      <mat-select [(value)]="selectedRoom" (valueChange)="roomChange($event)">
        <mat-option value="all">Alle</mat-option>
        <mat-option *ngFor="let device of rooms" [value]="device.room">{{device.room}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nach Gerät Filtern</mat-label>
      <mat-select [(value)]="selectedDevice" [disabled]="selectedRoom === 'all'" (valueChange)="deviceChange($event)">
        <mat-option value="all">Alle</mat-option>
        <mat-option *ngFor="let device of devices" [value]="device.name">{{device.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>
