<div matTooltip="{{value() | percent : '1.2'}}" matTooltipPosition="right">
  @if (isFull()) {
    <mat-icon class="primary">battery_full</mat-icon>
  }
  @if (isInRange(batteryThresholds.high, batteryThresholds.veryHigh)) {
    <mat-icon class="primary">battery_6_bar</mat-icon>
  }
  @if (isInRange(batteryThresholds.lessHigh, batteryThresholds.high)) {
    <mat-icon class="primary">battery_5_bar</mat-icon>
  }
  @if (isInRange(batteryThresholds.half, batteryThresholds.lessHigh)) {
    <mat-icon class="secondary">battery_4_bar</mat-icon>
  }
  @if (isInRange(batteryThresholds.lessHalf, batteryThresholds.half)) {
    <mat-icon class="secondary">battery_3_bar</mat-icon>
  }
  @if (isInRange(batteryThresholds.low, batteryThresholds.lessHalf)) {
    <mat-icon class="secondary">battery_2_bar</mat-icon>
  }
  @if (isInRange(batteryThresholds.veryLow, batteryThresholds.low)) {
    <mat-icon class="error">battery_1_bar</mat-icon>
  }
  @if (isEmpty()) {
    <mat-icon class="error">battery_0_bar</mat-icon>
  }
</div>
