<form class="common-form" [formGroup]="commonSettingForm">
    <mat-form-field color="accent">
        <mat-label>Dashboard Titel</mat-label>
        <input matInput [formControl]="commonSettingForm.controls.title">
    </mat-form-field>

    <mat-form-field class="form-column-2" color="accent">
        <mat-label>Kurze Beschreibung</mat-label>
        <input matInput [formControl]="commonSettingForm.controls.description">
    </mat-form-field>

    <mat-form-field color="accent">
        <mat-label>Anzahl der angezeigten Elemente pro Seite</mat-label>
        <input matInput [formControl]="commonSettingForm.controls.pageLength">
    </mat-form-field>


    <form class="color-form" [formGroup]="commonSettingForm.controls.color">
        <mat-form-field color="accent">
            <mat-label>Hauptfarbe</mat-label>
            <input matInput [formControl]="commonSettingForm.controls.color.controls.primary">
        </mat-form-field>

        <mat-form-field class="form-column-2" color="accent">
            <mat-label>Sekundärfarbe</mat-label>
            <input matInput [formControl]="commonSettingForm.controls.color.controls.secondary">
        </mat-form-field>
    </form>

    <div class="form-actions">
        <button mat-button color="warn" (click)="reset()">Änderungen verwerfen</button>
        <button mat-raised-button color="accent" type="submit" [disabled]="commonSettingForm.pristine && !commonSettingForm.dirty" (click)="updateSetting()">Änderungen speichern</button>
    </div>
</form>