<mat-toolbar class="toolbar mat-elevation-z8" color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Smarthome Dashboard</span>
</mat-toolbar>
<mat-sidenav-container class="dashboard-container" autosize>
  <mat-sidenav #sidenav mode="side" opened>
      <app-navbar *ngIf="!isCollapsed" [navMenu]="navMenu" (onCollapse)="onCollapse($event)"></app-navbar>
      <app-navbar-collapsed *ngIf="isCollapsed" [navMenu]="navMenu" (onCollapse)="onCollapse($event)"></app-navbar-collapsed>
  </mat-sidenav>
  <mat-sidenav-content class="content-container">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>