/* For use in src/lib/core/theming/_palette.scss */
$md-green: (
    50 : #ebf3ea,
    100 : #cce2cc,
    200 : #aacfaa,
    300 : #88bb87,
    400 : #6fad6e,
    500 : #559e54,
    600 : #4e964d,
    700 : #448c43,
    800 : #3b823a,
    900 : #2a7029,
    A100 : #b7ffb6,
    A200 : #85ff83,
    A400 : #52ff50,
    A700 : #39ff36,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-purple: (
    50 : #f3e1f2,
    100 : #e1b5df,
    200 : #cd83ca,
    300 : #b851b4,
    400 : #a92ca4,
    500 : #9a0794,
    600 : #92068c,
    700 : #880581,
    800 : #7e0477,
    900 : #6c0265,
    A100 : #ff9cf6,
    A200 : #ff69f2,
    A400 : #ff36ee,
    A700 : #ff1ceb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$md-warn: (
    50 : #ffe7e2,
    100 : #fec4b7,
    200 : #fe9d87,
    300 : #fe7557,
    400 : #fd5833,
    500 : #fd3a0f,
    600 : #fd340d,
    700 : #fc2c0b,
    800 : #fc2508,
    900 : #fc1804,
    A100 : #ffffff,
    A200 : #fff0ef,
    A400 : #ffbfbc,
    A700 : #ffa7a2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);