$md-lime: (
    50 : #f6fae6,
    100 : #e8f3c2,
    200 : #d9eb99,
    300 : #c9e370,
    400 : #bedd51,
    500 : #b2d732,
    600 : #abd32d,
    700 : #a2cd26,
    800 : #99c71f,
    900 : #8abe13,
    A100 : #f9ffee,
    A200 : #e8ffbb,
    A400 : #d8ff88,
    A700 : #cfff6e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-pink: (
    50 : #f8e3ec,
    100 : #edb9cf,
    200 : #e18ab0,
    300 : #d45b90,
    400 : #cb3778,
    500 : #c21460,
    600 : #bc1258,
    700 : #b40e4e,
    800 : #ac0b44,
    900 : #9f0633,
    A100 : #ffcad7,
    A200 : #ff97b0,
    A400 : #ff6489,
    A700 : #ff4b76,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-blue: (
    50 : #e3ebfb,
    100 : #b8cdf5,
    200 : #89acee,
    300 : #598ae7,
    400 : #3671e1,
    500 : #1258dc,
    600 : #1050d8,
    700 : #0d47d3,
    800 : #0a3dce,
    900 : #052dc5,
    A100 : #eef1ff,
    A200 : #bbc6ff,
    A400 : #889aff,
    A700 : #6f85ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-orange: (
    50 : #fff0e1,
    100 : #fedbb4,
    200 : #fdc382,
    300 : #fcaa4f,
    400 : #fc982a,
    500 : #fb8604,
    600 : #fa7e03,
    700 : #fa7303,
    800 : #f96902,
    900 : #f85601,
    A100 : #ffffff,
    A200 : #fff1eb,
    A400 : #ffccb8,
    A700 : #ffba9f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);