@use '@angular/material' as mat;
@use './palette.scss' as sm;
@use './navbar-theme.scss' as nav;

@include mat.core();

$app-primary:     mat.define-palette(sm.$md-green);
$app-accent:      mat.define-palette(sm.$md-purple);
$app-warn:        mat.define-palette(sm.$md-warn);

$smarthome-app-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($smarthome-app-theme);
@include nav.color($smarthome-app-theme);