<mat-nav-list>
  @for (item of navMenu(); track item; let index = $index) {
    <a class="nav-item" (mouseenter)="canMenuOpen(index)" [matTooltip]="item.displayText" matTooltipPosition="after" mat-list-item [routerLink]="[item.link]" [routerLinkActive]="'active-link'" #routerLinkActive="routerLinkActive">
      <div class="nav-list-content">
        <mat-icon>{{item.icon}}</mat-icon>
      </div>
    </a>
    @if (item.children) {
      <div #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu"></div>
      <mat-menu class="nav-child-menu" #menu="matMenu">
        @for (children of item.children; track children) {
          <a class="nav-child-menu-item" [matTooltip]="children.displayText" matTooltipPosition="after" mat-menu-item  [routerLink]="[children.link]" [routerLinkActive]="'active-link'">
            <mat-icon>{{children.icon}}</mat-icon>
          </a>
        }
      </mat-menu>
    }
  }
</mat-nav-list>
<mat-action-list>
  <button mat-list-item (click)="onCollapse.emit(false)" matTooltip="Ausklappen" matTooltipPosition="after">
    <div class="nav-list-content">
      <mat-icon>arrow_forward</mat-icon>
    </div>
  </button>
</mat-action-list>
