:host {
    display: block;
    padding-bottom: 16px;
    
    .view-bar {
        display: flex;
        column-gap: 8px;
        align-items: baseline;
    }

    ::ng-deep {
        app-dashboard-view-title {
            display: flex;
            column-gap: 8px;
            align-items: baseline;
        }
    }
}