/* You can add global styles to this file, and also import other style files */
@import 'app/core/scss/theme.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.h-100 {
    height: 100%;
}

.nav-child-menu {
    min-width: 0 !important;
}

.nav-child-menu-item .mat-icon {
    margin-right: 0 !important;
}