/* You can add global styles to this file, and also import other style files */
@use 'margin-padding-utils.scss' as mp;

@use 'theme.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-optgroup .mat-mdc-option {
    padding-left: mp.power(4);
}

.h-100 {
    height: 100%;
}

.nav-child-menu {
    min-width: 0 !important;
}

.nav-child-menu-item {
    margin-bottom: mp.power(1) !important;
}

.nav-child-menu-item .mat-icon {
    margin-right: 0 !important;
}