<app-dashboard-view-bar>
  <h1 dashboardViewTitle>Temperatur Statistik</h1>
  <app-dashboard-view-title>
    <app-device-filter></app-device-filter>
    <mat-form-field color="accent" class="form-field">
      <mat-label>Vergleichen</mat-label>
      <mat-select (valueChange)="onValueChange($event)" multiple>
        <mat-option value="all">Alle</mat-option>
        <mat-optgroup *ngFor="let gruop of deviceGroup" [label]="gruop.key">
          <mat-option *ngFor="let device of gruop.devices" [value]="device.name">{{device.name}}</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    <button mat-button color="accent" (click)="reset()">
      <mat-icon>undo</mat-icon>
      Zurücksetzen
    </button>
  </app-dashboard-view-title>
</app-dashboard-view-bar>

<mat-card>
  <mat-card-content>
    <apx-chart [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [stroke]="chartOptions.stroke!"
    [dataLabels]="chartOptions.dataLabels!"
    [legend]="chartOptions.legend!"
    [markers]="chartOptions.markers!"
    [grid]="chartOptions.grid!"
    [yaxis]="chartOptions.yaxis!"
    [title]="chartOptions.title!"></apx-chart>
  </mat-card-content>
</mat-card>