<mat-card>
  <mat-card-header class="j-space-between">
    <mat-card-title>Statistik</mat-card-title>
    <mat-card-subtitle>Höchst-, Tiefst-, und Durchscnittswerte und Vergleiche</mat-card-subtitle>
    <mat-card-actions>
      <mat-form-field class="form-field">
        <mat-label>Vergleichen</mat-label>
        <mat-select [(value)]="compareList" (valueChange)="onValueChange($event)" multiple>
          <mat-option #allSelected (click)="toggleAllSelected()" value="all">Alle</mat-option>
          <mat-option *ngFor="let device of devices" [value]="device.name">{{device.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="reset()">
        <mat-icon>undo</mat-icon>
        Zurücksetzen
      </button>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-content #parentContainer>
    <div>
      <ngx-charts-bar-vertical-2d
          [view]="[lastWidth, 500]"
          [results]="statistic"
          [legend]="chartSetting.legend"
          [showXAxisLabel]="chartSetting.showXAxisLabel"
          [showYAxisLabel]="chartSetting.showYAxisLabel"
          [legendPosition]="chartSetting.legendPosition"
          [legendTitle]="chartSetting.legendTitle"
          [scheme]="chartSetting.scheme"
          [xAxis]="chartSetting.xAxis"
          [yAxis]="chartSetting.yAxis"
          [roundDomains]="chartSetting.roundDomains"
          [gradient]="chartSetting.gradient">
      </ngx-charts-bar-vertical-2d>
    </div>
  </mat-card-content>
</mat-card>
